@import  url(http://fonts.googleapis.com/css?family=Cutive);
@import  url(http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic);

body {
    font-family: 'Puritan', sans-serif;
    font-size: 20px;
    color: #445164;
    background-image: url(../img/ricepaper_v3.png);
}

h1, h2, h3,h4 {
    font-family: 'Puritan', sans-serif;
}

nav {
	float: left;
	font-family: 'Puritan', sans-serif;
}

.active {
	color: #6a237e;
}

@media screen and (max-width: 767px) {
        /* styles to apply on very narrow screens */
   .carousel {
                display: none;
        } 
}

.video {
	float: right;
}
